body {
  font-family: 'Open Sans';
  background-color: rgb(0, 0, 0);
  color: white;
}


.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  margin: 10px 10px;
} 
.box-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  margin: 10px 10px;
}
.custom-box {
  background-color: rgba(0,0,0,0.2); 
  width: 100%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 10px;
}
.chips {
  background-color: rgba(255,255,255,0.1); 
  padding: 5px 5px; 
  margin-top: 8px; 
  border-radius: 2px; 
  font-size: 12px;
}


/* plugin specific styles */

.draggable-element {
  margin: 0px;
  margin-top: 20px;
  position: fixed;
    left: 0;
    right: 0;
}

.drop-indicator {
  background-color: rgba(26, 144, 255, 0.08);
  border: 1.5px solid rgb(26, 144, 255);
  border-radius: 10px;
  position: fixed;
    left: 0;
    right: 0;
  transition: top 0.3s, left 0.3s, width 0.3s, height 0.3s;
}

[data-swd-targets]:not([data-swd-target-drag-point]), [data-swd-drag-point] {
  cursor: grab;
}