.draggable-element {
  margin: 0px;
  margin-top: 20px;
  position: fixed;
    left: 0;
    right: 0;
}

.drop-indicator {
  background-color: rgba(26, 144, 255, 0.08);
  border: 1.5px solid rgb(26, 144, 255);
  border-radius: 10px;
  position: fixed;
    left: 0;
    right: 0;
  transition: top 0.3s, left 0.3s, width 0.3s, height 0.3s;
}

[data-swd-targets]:not([data-swd-target-drag-point]), [data-swd-drag-point] {
  cursor: grab;
}